
body{
    margin:0;
    padding: 0;
    background-image:url("../images/green.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: static;
 }
 
.wrapper {
     height: 800px;
}
 
hr {
    overflow: visible; /* For IE */
    margin: 100px 50px 100px 50px;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 3px 0 0 0;
  
}

.todos{
     width: 70%;
     padding:20px 20px 20px 20px;
     margin:0 auto;
     margin-top:30px;
     color: black;
     border-radius: 2px;
     font-family: 'Passion One', cursive;
     font-size: 20px;
}
.todos h1, .donelist h1{
    margin:0;
    font-family: 'Lobster', cursive;
    padding-bottom:20px;
    text-align:center;
}

#addTask {
    text-align: center;
}
 
.btn{
     height: 40px;
     font-size: 18px;
     font-family: 'Lora', serif;
     background-color: white;
}

.buttons{
    text-align: center;
}

.donelist {
    text-align: center;
}
   
input{
     font-size: 20px;
     width: 400px;
     height: 40px;
}
 
 footer {
     height: 50px;
     padding-top: 10px;
     background-color: rgba(141, 169, 178, 0.8);
}
 
footer a {
     color:white;
     margin:10px;
     font-size: 18px;
     padding-left: 450px;
     text-decoration: none;
}
