
body{
    margin:0;
    padding: 0;
    background-image:url("../images/green.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: static;
 }

hr {
    overflow: visible; /* For IE */
    margin: 100px 200px 0 200px;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 3px 0 0 0;
}

#todoList {
    list-style: none;
}

.todos, .donelist{
     width: 96%;
     padding:20px 20px 20px 20px;
     margin:0 auto;
     margin-top:30px;
     border-radius: 2px;
     font-size: 20px;
}

.todos h1, .donelist h1{
    font-family: 'Indie Flower', cursive;
    padding-bottom:20px;
    text-align:center;
}

#addTask {
    text-align: center;
}

li {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    list-style: none;
    text-transform: uppercase;
    margin-left: 20%;
}
 
.btn{
     height: 40px;
     width: 100px;
     margin-right: 20px;
     margin-bottom: 30px;
     font-size: 18px;
     font-family: 'Lora', serif;
     background-color: white;
}

.buttons{
    text-align: center;
}

.delete {
    padding: 2px 9px 3px 9px;
    margin-right: 20px;
    background-color: rgb(230, 230, 230);
    font-family: arial sans-serif;
    font-size: 17px;
    border: 0.5px solid grey;
}

.buttonDone {
    margin-right: 30px;
    font-size: 17px;
}

.completedbtn {
    margin-left: 45%;
     height: 40px;
     width: 100px;
     margin-bottom: 30px;
     font-size: 18px;
     font-family: 'Lora', serif;
     background-color: white;
}
   
input{
     font-size: 20px;
     width: 400px;
     height: 40px;
}
 
 footer {
     height: 50px;
     padding-top: 40px;
     background-color: rgba(141, 169, 178, 0.8);
}
 
footer a {
     color:white;
     font-size: 18px;
     padding-left: 450px;
     text-decoration: none;
}
