@import "_variables.scss";


body {
    margin:0;
    padding: 0;
    background-image:url("../images/ocean.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: static;
 }

hr {
    margin: 100px 200px 0 200px;
    height: 30px;
    border-color: $black;
    border-width: 3px 0 0 0;
}

//----li listan----//

#todoList {
    list-style: none;
}

//----styling till Todos och Finitos----//

.todos, .donelist{
     width: 96%;
     padding:20px 20px 20px 20px;
     margin:0 auto;
     margin-top:30px;
     font-size: 20px;

     h1 {
    font-family: $font;
    padding-bottom:20px;
    text-align:center;
    }
}

//----inputfält----//

#addTask {
    text-align: center;

    input{
     font-size: 20px;
     width: 400px;
     height: 40px;
    }
}

//----styling till li listan----//

li {
    font-family: $font;
    font-size: 30px;
    list-style: none;
    text-transform: uppercase;
    margin-left: 20%;
}

//----knapp styling----//

.buttons{
    text-align: center;
    padding-left: 30px;

    .btn {
     height: 40px;
     width: 100px;
     margin-right: 20px;
     margin-bottom: 30px;
     font-size: 18px;
     font-family: $font2;
     background-color: $bgcpink;
    }
}

//----delete och check knappar----//

.delete {
    padding: 2px 9px 3px 9px;
    margin-right: 20px;
    background-color: $bgcpink;
    font-family: $font3;
    font-size: 17px;
    border: 0.5px solid white;
}

.buttonDone {
    margin-right: 30px;
    font-size: 17px;
    background-color: $bgcpink;
}

.completedbtn {
    margin-left: 45%;
     height: 40px;
     width: 100px;
     margin-bottom: 30px;
     font-size: 18px;
     font-family: $font2;
     background-color: $bgcpink;
}

//----Footer----//

.footerlink {
    text-align: center;
}
 
 footer {
     height: 50px;
     padding-top: 40px;
     background-color: $footerbgc;

     a {
     color:white;
     font-size: 18px;
     text-decoration: none;
    }
}
 
